
.results {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    margin: 2em auto;
    box-shadow: 2px 1px 1px rgb(180, 179, 179);
    background-color: white;
    border-radius: 4px;

}
.first-results {
    margin-top: 100rem;
}
.results-box {
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.results-box img {
    max-width: 100%;
    max-height: 50vh;
    box-shadow: 2px 1px 1px rgb(180, 179, 179);
}

.results-box embed {
    max-width: 100%;
    max-height: 50vh;
    box-shadow: 2px 1px 1px rgb(180, 179, 179);
}
