.header {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    box-shadow: 2px 1px 1px rgb(180, 179, 179);
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.logo {
    position: fixed;
    z-index: 15;
    left: 2vw;
    display: inline-flex;
    align-items: center;
    
}
.reddit-logo {
    max-height: 2rem;
    margin-right: .75rem;
}
input {
    border: 0.1px solid rgb(238, 238, 238);
    border-radius: 5px;
    height: 1.5rem;
    width: 20vw;
}
.reddit-logo:hover {
    border-radius: 100%;
    box-shadow: 2px 1px 1px rgb(250, 121, 0);
}
@media screen and (max-width: 1100px) {
    .reddit-logo-typed {
      display: none;
    }
    input {
        width: 30vw;
    }

  }
